<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>CS-GO: Weapon Challenge</title>

	<link rel="stylesheet" href="challenge.css">

	<!-- Dependencies: DO NOT REMOVE! -->
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
	<!-- Auxiliary Scripts: Dependencies! DO NOT REMOVE! -->
	<script type="text/javascript" src="Arrays.js"></script>
	<!-- Angular App -->
	<script type="text/javascript" src="challenge.js"></script>
	<script type="text/javascript" src="weapons.js"></script>
	<script type="text/javascript" src="user.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="mainController.js"></script>

	<!-- Directives -->
	<script type="text/javascript" src="weaponWidget.js"></script>

</head>
<body ng-app="myApp" ng-controller="mainController">
	<div class="main">
		<h1>CS-GO: Weapon Challenge</h1>
		<div class="left">
			<div class="main">
				<p id="weapon-name">{{user.currentWeapon.name}}</p>
				<p id="weapon-type">{{user.currentWeapon.type}}</p>
				<p id="weapon-factions">{{user.currentWeapon.factions}}</p>
				<p id="weapon-price">{{user.currentWeapon.price}}</p>
			</div>
			<div class="controls">
				<form name="user-input">
					<label><input type="checkbox" ng-model="user.filterUsed">Filter used weapons</label><br>
					<label>
						<input type="checkbox" ng-model="user.filterFaction">Filter faction: 
						<label><input type="radio" ng-model="user.faction" value="t">T</label>
						<label><input type="radio" ng-model="user.faction" value="ct">CT</label>
					</label><br>
					<!--
					<input type="checkbox" name="filter-T">Filter Terrorist: <br>
					<input type="checkbox" name="filter-CT">Filter CT: <br>
					<input type="checkbox" name="filter-price">Filter too expansive weapons: <br>
					-->
					<label>
						<input type="checkbox" ng-model="user.filterPrice">
						Filter Money: 
						<input type="text" ng-model="user.money">
					</label>
					<br><br>
					<input type="button" class="submit" value="Next" ng-click="nextWeapon()">
					<input type="button" class="submit" value="Skip" ng-click="skip()">
				</form>
			</div>
		</div>
		<div class="right">
			<div class="weapon-list" ng-repeat="weapon in user.weapons">
				<!--
				<p>{{weapon.name}}</p>
				<weaponWidget info="weapon"></weaponWidget>
				-->
				<weapon-widget></weapon-widget>
					<!-- Template: For local use because cross site ajax... -->
					<script type="text/ng-template" id="weaponWidget.html">
						<div class="weaponWidget">
							{{weapon.name}}<br>
							<label><input type="checkbox" ng-model="weapon.used">used</label> | 
							<label><input type="checkbox" ng-model="weapon.included">include</label>
							</p>
						</div>
					</script>
			</div>
		</div>
	</div>
</body>
</html>